input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.AddEvent_screen {
  user-select: none;
  position: relative;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(45, 47, 48, 0.6676470588235295) 48%,
    rgba(0, 212, 255, 1) 100%
  );
}

.addEventScreen {
  max-width: 300px;
  padding: 70px;
  margin-top: -3rem;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.4);
}

.addEventScreen > form {
  display: grid;
  flex-direction: column;
}

.addEventScreen > form > input {
  outline-width: 0;
  height: 20px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}

.addEventScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #ffffff;
  border-radius: 5px;
  background-color: #5a9a40;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: all 350ms;
}

.addEventScreen > form > h1 {
  text-align: left;
  margin-bottom: 25px;
}

.addEventScreen > form > h4 {
  text-align: left;
  margin-top: 30px;
}

.addEventScreen__gray {
  color: gray;
}

.addEventScreen__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.signinScreen__link {
  margin-left: 6.5rem;
}

.signinScreen__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.addEventScreen {
  min-width: 300px;

  padding: 70px;
  margin-top: -14.7rem;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.4);
}

.Header_main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
}

.add_btn:hover {
  transition: ease-in-out 350ms;
  background: #0d45a5;
}

.addEventScreen > form {
  display: grid;
  flex-direction: column;
}

.addEventScreen > form > input {
  outline-width: 0;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}

.addEventScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #ffffff;
  border-radius: 5px;
  background-color: #5a9a40;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.addEventScreen > form > h1 {
  text-align: left;
  margin-bottom: 25px;
}

.addEventScreen > form > h4 {
  text-align: left;
  margin-top: 30px;
}
input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #5a9a40;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}

.select_tag {
  color: #5a9a40;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 3px;
}

.divide_div > input {
  outline-width: 0;
  height: 30px;
  width: 100px;
  margin: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-size: 9px;
  padding: 5px 15px;
}

select {
  background-color: #135d99;
  color: white;
  padding: 12px;
  height: 40px;
  width: 300px;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:700");

p {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
    0 0 3px rgba(255, 255, 255, 0.3);
}

.animation {
  height: 50px;
  overflow: hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding-left: 10px;
  padding-right: 10px;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 10s infinite;
}

.first div {
  background-color: #20a7d8;
}
.second div {
  background-color: #cd921e;
}
.third div {
  background-color: #c10528;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
