:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4bd5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
.profileScreen {
  height: 100vh;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(34, 48, 66, 0.6676470588235295) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.profileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4%;
  max-width: 800px;
}

.profileScreen__info {
  display: flex;
}
.profileScreen__body > h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profileScreen__info > img {
  height: 100px;
}

.profileScreen__details {
  color: white;
  margin-left: 25px;
  flex: 1;
}

.profileScreen__details > h2 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}

.profileScreen__signOut {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  color: #fff;
  background-color: #5a9a40;
  font-weight: 600;
  cursor: pointer;
  border-radius: 3px;
  transition: ease-in-out 500ms;
}

.profileScreen__signOut:hover {
  background: white;
  color: black;
  transition: ease-in-out 500ms;
}

.profileScreen__plans {
  margin-top: 20px;
}

.profileScreen__plans > h3 {
  border-bottom: 1px solid #282c2d;
  cursor: pointer;
  padding-bottom: 10px;
}

.profileScreen__plans > h3:hover {
  text-decoration: underline;
  color: #5a9a40;
}

.profileScreen__plans > h6 {
  color: #5a9a40;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.container1 {
  width: 40%;
  margin: auto auto;
  margin-top: 45px;
}

.client__avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid var(--color-primary-variant);
}

.testimonial {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
  max-width: 550px;
}

.client__review {
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 70%;
  margin: 0.8rem auto 0;
}

.container1.testimonials__container {
  width: 40%;
  margin-left: 32.1rem;
  cursor: pointer;
}

.review {
  font-size: 30px;
}
