.row {
  color: white;
  margin-left: 20px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  width: auto;
}
.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  min-height: 170px;
  max-height: 200px;
  margin-right: 15px;
  transition: transform 450ms;
}

.inner_div {
  position: relative;
  width: 50%;
  max-width: 300px;
  min-width: 280px;
}

.inner_div > img {
  --s: 15px; /* size of the frame */
  --b: 2px; /* border thickness */
  --w: 200px; /* width of the image */
  --c: transparent;
  width: var(--w);
  aspect-ratio: 1;
  object-fit: cover;
  padding: calc(2 * var(--s));
  --_g: var(--c) var(--b), #0000 0 calc(100% - var(--b)), var(--c) 0;
  background: linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
    linear-gradient(90deg, var(--_g)) 50% / var(--_i, 100%) 100% no-repeat;

  transition: 0.4s;
  cursor: pointer;
}

.inner_div:hover > img {
  opacity: 0.2;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  width: 260px;
  height: 260px;
  transform: scale(0);
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.inner_div:hover .overlay {
  transition: ease-in-out 0.3s;
  transform-origin: unset;
  transform: scale(0.87);
  cursor: pointer;
}

.row__poster:hover {
  cursor: pointer;
  transform: 350ms;
  transform: scale(1.08);
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text {
  color: #fff;
  width: 170px;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
}
