.row {
  color: white;
  margin-left: 20px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  min-height: 170px;
  max-height: 200px;
  margin-right: 15px;
  transition: transform 450ms;
}

.row__poster:hover {
  cursor: pointer;
  transform: 350ms;
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}

.row__posters > img {
  --s: 15px; /* size of the frame */
  --b: 2px; /* border thickness */
  --w: 200px; /* width of the image */
  --c: #7b3b3b;

  width: var(--w);
  aspect-ratio: 1;
  object-fit: cover;
  padding: calc(2 * var(--s));
  --_g: var(--c) var(--b), #0000 0 calc(100% - var(--b)), var(--c) 0;
  background: linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
    linear-gradient(90deg, var(--_g)) 50% / var(--_i, 100%) 100% no-repeat;

  transition: 0.4s;
  cursor: pointer;
}
.row__posters > img:hover {
  outline: calc(var(--w) / 2) solid #0009;
  outline-offset: calc(var(--w) / -2 - 2 * var(--s));
  --_i: calc(100% - 2 * var(--s));
}
